.header {
    background-color: black;
    width: 100%;
    min-height: 75px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    margin: 20px 20px;
}

.header .container .logo {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}

.container .logo:hover {
    color: var(--cor-primaria);
}

.container ul {
    display: flex;
}

.container ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    padding: 3px 10px;
    border-radius: 10px;
}

.container ul li a:hover {
    color: var(--cor-primaria);
}

.header .container nav {
    margin-right: 20px;
}

.header .container nav ul li #home{
    color: var(--cor-primaria);
}