/* SECTION SERVICES */

.services {
    background-image: url(../images/services-bg.png);
    max-width: 100%;
    background-attachment: fixed;
    max-height: 100%;
    background-size: cover;
    margin-top: 50px;
    padding: 80px 30px;
    color: white;
}

.services .informacoes {
    text-align: center;
}

.services .informacoes h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.services .informacoes p {
    display: inline-block;
    max-width: 900px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px;
}

.services .cards .card {
    max-width: 290px;
    max-height: 260px;
    background-color: var(--cor-primaria);
    padding: 40px 15px;
    text-align: center;
    color: #000;
}

.services .cards .card img {
    width: 45px;
    height: 50px;
    margin-bottom: 30px;
}

.services .cards .card h3 {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 15px;
}

.services .cards .card p {
    font-size: 14px;
    padding-bottom: 15px;
    line-height: 20px;
}

.services .cards .card a {
    padding: 10px 25px;
    text-align: center;
    font-size: 18px;
    background-color: var(--cor-secundaria);
    margin-top: 25px;
    transition: 0.3s;
    text-transform: uppercase;
    display: none;
}

.services .cards {
    display: flex;
    justify-content: center;
}

.services .cards .card2 {
    margin: 0 20px;
}

.services .cards .card:hover {
    max-width: 290px;
    max-height: 330px;
    background-color: white;
    padding: 40px 15px;
    text-align: center;
    color: #000;
}

.services .cards .card:hover a {
    display: inline-block;
}

@media (max-width: 768px) {
    .services .informacoes p {
        max-width: 500px;
    }
    .services .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services .cards .card2 {
        margin: 20px 0;
    }

    .services .cards .card {
        max-width: 350px;
    }

    .services .cards .card:hover {
        max-width: 350px;
    }
}