html {
    font-family: 'Roboto';
}

.header {
    background-color: black;
    width: 100%;
    min-height: 75px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    margin: 20px 20px;
}

.header .container .logo {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}

.header .container .logo:hover {
    color: gold;
}

.container ul {
    display: flex;
}

.container ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    padding: 3px 10px;
    border-radius: 10px;

}

.container ul li a:hover {
    color: gold;
}

.header .container nav {
    margin-right: 20px;
}

.header .container nav ul li #home{
    color: gold;
}

/* SECTION HERO */

.hero .container-hero {
    background-image: url(../images/banner-bg.png);
    width: 100%;
    background-size: cover;
    height: 486px;
    background-repeat: no-repeat;
}

.hero .container-hero .texto {
    padding: 60px 0 0 60px;
    color: #fff;
}

.hero .container-hero .texto h2 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero .container-hero .texto h2:first-child {
    font-size: 60px;
    font-weight: bolder;
    color: #000;
}

.hero .container-hero .texto p {
    width: 350px;
    font-size: 16px;
    padding-bottom: 50px;
}

.hero .container-hero .texto a {
    font-size: 14px;
    padding: 15px 25px;
    background-color: black;
    text-transform: uppercase;
    transition: 0.3s;
}

.hero .container-hero .texto a:hover {
    background-color: gold;
    color: #000;
    font-weight: 500;
}

@media (max-width: 850px) {
    .hero .container-hero {
        background-image: url(../images/banner-bg-tablet.png);
}
}

@media (max-width: 425px) {
    .hero .container-hero .texto h2 {
        font-size: 60px;
    }

    .hero .container-hero .texto h2:first-child {
        font-size: 50px;
    }

    .hero .container-hero .texto p {
        font-size: 14px;
    }

    .hero .container-hero .texto a {
        font-size: 12px;
    }

    .hero .container-hero .texto {
        padding: 30px 0 0 30px;
    }
}

@media (max-width: 375px) {
    .header .container .logo {
        font-size: 30px;
    }

    .hero .container-hero .texto {
        padding: 20px 0 0 20px;
    }

    .hero .container-hero .texto p {
        width: 300px;
    }    
}

@media (max-width: 320px) {
    .hero .container-hero .texto p {
        width: 250px;
    }    
}

/* SECTION ABOUT */

.about .container {
    display: flex;
    padding: 80px 30px 0 30px;
}

.about .container .informacoes {
    max-width: 50%;
    padding: 100px 10px 0 50px;
}

.about .container .informacoes h1 {
    color: gold;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.about .container .informacoes p {
    color: #4c4c4b;
    font-size: 14px;
    padding-bottom: 20px;
}

.about .container .informacoes p:nth-child(3) {
    padding-bottom: 40px;
}

.about .container .informacoes a {
    padding: 8px 28px;
    font-size: 18px;
    background-color: #252525;
    margin-top: 40px;
    transition: 0.3s;
}

.about .container .informacoes a:hover {
    background-color: gold;
    color: #000;
    font-weight: 500;
}

.about .container .image {
    padding: 0 50px;
    max-width: 540px;
    max-height: 540px;
}
